<html>
  <head>
    <title>Double</title>
  </head>
  <body>
    <form method='post' action='/double'>
      <input name='number'/>
      <input type='submit' value='Double!'/>
    </form>
  </body>
</html>
